<div id="forget-container">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <video autoplay loop muted id="bg-video">
      <source src="assets/output.mp4" type="video/mp4" />
    </video>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-container">
          <h2>Reset Password</h2>
          <form name="form" (ngSubmit)="onSubmit()" #rpForm="ngForm">
            <div class="form-group">
              <label for="password">New Password</label>
              <input
                type="password"
                id="password"
                name="password"
                style="color: #fff"
                class="form-control"
                ngModel
                required
                #password="ngModel"
              />
              <div
                class="bg-err"
                role="alert"
                *ngIf="password.touched && password.invalid"
              >
                Field required
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                style="color: #fff"
                class="form-control"
                required
                ngModel
                required
                #confirmPw="ngModel"
              />
              <div
                class="bg-err"
                role="alert"
                *ngIf="confirmPw.touched && confirmPw.invalid"
              >
                Field required
              </div>
              <div
                class="bg-err"
                role="alert"
                *ngIf="
                confirmPw.valid && password.valid && password.value !== confirmPw.value
                "
              >
                Password does not match
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              value="Submit"
              [disabled]="confirmPw.invalid || password.invalid"
            >
              Reset Password
            </button>
          </form>

          <div *ngIf="showMessage">
            <p style="color: red">{{ message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
