<div id="forget-container">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <video autoplay loop muted id="bg-video">
      <source src="assets/output.mp4" type="video/mp4" />
    </video>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-container">
          <h2 class="text-center">Forgot Password</h2>
          <p>
            Please enter your email address below and we'll send you
            instructions on how to reset your password.
          </p>
          <form name="form" (ngSubmit)="onSubmit()" #rpForm="ngForm">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                ngModel
                required
                #email="ngModel"
              />
              <div
                class="bg-err"
                role="alert"
                *ngIf="email.touched && email.invalid"
              >
                Email is required
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              value="Submit"
              [disabled]="!rpForm.valid"
            >
              Send reset link
            </button>
            <div class="form-group">
              <div
                class="bg-err"
                role="alert"
                *ngIf="rpForm.submitted && isRpFailed"
              >
                Reset link was not sent
              </div>
            </div>
          </form>
          <div *ngIf="successMessage" class="bg-succ" role="alert">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="bg-err" role="alert">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
